*.o
*.a
*.so
*.dylib

# example & test executables (anything without .c/.h extension)

!examples/**/*.c
!examples/**/*.h
!examples/Makefile
examples/2d/dep
examples/build

test/test_*
!test/*.c
!test/*.h
!test/Makefile

# macOS
.DS_Store
